body{font-family:Arial, Helvetica, sans-serif}#root{height:100vh;display:flex}.profile{margin:auto;padding:18px;border:3px solid #444e66;background-color:#8b9ecc;border-radius:7px;text-align:center}.profile__name{font-size:20px;color:orange;margin:10px}.profile__birth{font-size:16px;font-weight:700;color:#000}

